.autoComplete {
    width: 337px;
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &__input {
        width: 337px;
        height: 78px;
        border-radius: 39px;
        background-color: #D8FEDE;
        border: none;
        font-size: 1rem;
        color: black;
        text-align: center;
        font-family: 'Inter', sans-serif;
        font-weight: bold;
        font-size: 54px;
        line-height: 64px;

        &::placeholder {
            color: black;
            text-align: center;
            font-family: 'Inter', sans-serif;
            font-weight: bold;
            font-size: 54px;
            line-height: 64px;
        }
    }


    &__list {
        list-style: none;
        position: absolute;
        top: 100px;
        max-height: 100px;
        overflow: scroll;
        width: 278px;
        background-color: #FFFFFF;
        border: 1px solid #C9CACE;
        border-radius: 1px solid 0px 0px 8px 8px;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__item {
            color: black;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 50px;
        }

        &__blackLine {
            width: 245px;
            height: 1px;
            background-color: #C9CACE;
            margin: 0 auto;
        }
    }
}