.autoComplete {
    width: 337px;
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &__input {
        width: 337px;
        height: 78px;
        border-radius: 39px;
        background-color: #D8FEDE;
        border: none;
        font-size: 1rem;

        &::placeholder {
            color: black;
            text-align: center;
            font-family: 'Inter', sans-serif;
            font-weight: bold;
            font-size: 54px;
            line-height: 64px;
        }
    }


    &__list {
        list-style: none;
        position: absolute;
        top: 35px;
        max-height: 200px;
        width: 100px;
        background-color: #D9D9D9;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: scroll;

        &__item {
            color: white;
            text-align: center;
            cursor: pointer;
            width: 100%;
        }
    }
}